/* GENERAL RULES */
/* MAIN COLORS */
:root {
	--primary-color: #9C1B24;
	--secondary-color: #6C1E19;
}

::selection {
	background-color: var(--primary-color, --secondary-color);
	color: #fff;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

p {
	margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

.rounded-a {
	background-color: var(--primary-color, --secondary-color);
	padding: 1rem;
	cursor: pointer;
	border-radius: 30px;
}

/* CUSTOM CSS STYLING*/
.showcase {
	height: 100vh;
	display: grid;
	grid-template-columns: 20% 80%;
}

.showcase .showcase-left {
	padding: 3rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.showcase .showcase-left .logo-container {
	width: 6.5rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 2.5rem;
}

.showcase .showcase-left img {
	width: 100%;
	height: 100%;
}

.showcase .showcase-left .second-part {
	margin-top: -9rem;
}

.showcase .showcase-left h3 {
	font-size: 1.1rem;
	color: var(--primary-color, #f00);
	padding: 0.5rem 0;
	margin-bottom: 0.7rem;
	border-bottom: 1px solid #999
}

.showcase .showcase-left .menu-list li a{
	line-height: 2.3;
}

.showcase .showcase-left .social-media i {
	padding: 0.2rem;
	background-color: #BDAAAB;
	color: #fff;
	border-radius: 50%;
	width: 1.6rem;
	height: 100%;
	line-height: 1.6;
	text-align: center;
	font-size: 0.7rem;
	transition: background-color .2s ease-in-out;
}

.showcase .showcase-left .social-media i:hover {
	background-color: var(--primary-color, --secondary-color);
}

.showcase .showcase-left .info p {
	font-size: 0.8rem;
}

.showcase .showcase-left .info a {
	font-size: 1.3rem;
	color: var(--primary-color, --secondary-color);
}

.showcase .showcase-right {
	background: rgb(237,72,37);
	background: radial-gradient(circle, rgba(237,72,37,1) 0%, rgba(156,27,36,1) 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 4rem;
}

.showcase .showcase-right .status {
	width: 3.2rem;
	padding: 0.35rem;
	border-radius: 0.35rem;
	background-color: #000;
}

.showcase .showcase-right p {
	font-size: 2.2rem;
}

.showcase .showcase-right img {
	margin-top: 3rem;
	filter: drop-shadow(0px 6px 11px #000);
}

/* ABOUT US */
.about-us {
	display: grid;
	grid-template-columns: 1fr 1fr;
	box-shadow: 0px -6px 21px #999;
}

.about-us .about-us-image {
	background-image: url(../images/restaurant.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.about-us .about-us-description {
	padding: 3rem 1.3rem;
}

.about-us .about-us-description h1 {
	font-size: 2rem;
	margin-bottom: 1.3rem;
}

.about-us .about-us-description p {
	columns: 2;
	font-size: 0.8rem;
	line-height: 1.8;
	margin-bottom: 2.3rem;
}

/* MENU */

.menu h1 {
	margin-bottom: 1.4rem;
}

.menu .menu-sample {
	margin-top: 7rem;
}

.menu .menu-sample .single-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	margin-bottom: 2rem;
	background-color: #fff;
	transition: transform .4s ease-in-out;
}

.menu .menu-sample .single-menu:hover {
	transform: translateY(-30px);
}

.menu .menu-sample .single-menu .menu-1,
.menu .menu-sample .single-menu .menu-2,
.menu .menu-sample .single-menu .menu-3,
.menu .menu-sample .single-menu .menu-4 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.menu .menu-sample .menu-1 {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/margherita-pizza-2.jpg);
}

.menu .menu-sample .menu-2 {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/cheese-pizza-2.jpg);
}

.menu .menu-sample .menu-3 {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/veggie-pizza.jpg);
}

.menu .menu-sample .menu-4 {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/pepperoni-pizza.jpg);
}

.menu .menu-sample .single-menu h4 {
	color: var(--primary-color, --secondary-color);
	margin-bottom: 1.1rem;
}

.menu .menu-sample .single-menu img {
	width: 12rem;
	height: 14rem;
	margin-bottom: 1.1rem;
}

/* PIZZAS DESIGN */

.logo-header {
	margin-bottom: 10px;
	box-shadow: 0 6px 10px -10px gray;
}

.logo-header img {
	height: 6.5rem;
}

.food-review {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 3rem;
}

.food-review .food-review-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 8rem;
}

.food-review .food-review-description h2 {
	font-size: 3rem;
	margin-bottom: 1rem;

}

.food-review .food-review-description p:first-of-type{
	margin-bottom: 1rem;
	font-size: 1.55rem;
}

/* LOCATION */
.location {
	width: 100%;
}

.location iframe {
	width: 100%;
}

/* PAYMENT METHODS */
.payment-methods {
	padding: 5.5rem;
}

.payment-methods .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-items: center;
}

.payment-methods .payment-method-1 {
		margin-bottom: 1.5rem;
}

.payment-methods .container .payment-method-1 i {
	font-size: 4rem;
	color: var(--primary-color, --secondary-color);
}

.payment-methods .container .payment-method-1 p {
	font-size: 1.2rem;
}

/* FOOTER */
footer {
	padding: 2.3rem;
	background-color: var(--primary-color, --secondary-color);
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/* SHIPPING ORDER */
form {
	margin: auto;
	margin-top: calc((100vh - 434px)/2);
	width: 35%;
	padding: 1rem;
	border-radius: 2rem;
	box-shadow: 4px 2px 25px #ccc, -4px -2px 25px #ccc;
}

form a {
	margin-left: 50%;
	transform: translate(-50%);
	cursor: pointer;
}

/* SHIPPING PROGRESS */
.on-progress {
	width: 25%;
	margin: 5rem auto;
	padding: 0.65rem;
	border: 1px solid orange;
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: center;
	font-size: 1rem;
}

.on-progress .dot {
	width: 1.8rem;
	height: 1.8rem;
	background-color: orange;
	border-radius: 50%;
}

.on-progress p:first-of-type {
	color: orange;
}